
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card mb-3">
    <h5 class="card-header" style="padding-top: 20px; padding-bottom: 20px">Danh sách ngành học</h5>
    <div style="margin-bottom: 20px; margin-left: 20px">
        <button type="button" class="btn btn-sm btn-primary"
                onclick="OpenPopup('@Url.Action("Create", "Majors", new{ IsPopup = true })', 'Thêm Ngành','s', 500)">
            Thêm ngành
        </button>
        <button type="button" class="btn btn-sm btn-secondary">Secondary</button>
    </div>
</div>
<div class="card">
    @Html.AjaxGrid(Url.Action("IndexGrid"))
</div>
@section ScriptBottom {
    <script type="text/javascript">
        $(document).ready(function () {
            new MvcGrid(document.querySelector('.mvc-grid'));
        });

        function ClosePopupAndReloadGrid() {
            ClosePopup();
            ReloadGrid();
        }

        function DeleteItem(Id) {
            if (confirm('Bạn có chắc muốn xóa?')) {
                $.ajax({
                    url: '@Url.Action("Delete")',
                    type: "POST",
                    data: { Id: Id },
                    success: function (res) {
                        alert(res.message, res.type)
                        ReloadGrid();
                    }
                });
            }
        }

        function ReloadGrid() {
            var grid = new MvcGrid(document.querySelector('.mvc-grid'));
            grid.reload();
        }
    </script>
}
